.home{
    display: grid;
    position: relative;
    grid-template-columns: 19rem auto 22rem;
    gap: 1rem;
    padding: 1rem 1rem;
}

@media screen and (max-width: 600px) {
    .home{
        display: flex;
        flex-direction: column-reverse;
    }
    .home>:nth-child(3){
        display: none;
    }
}